---
import MainLayout from '../layouts/MainLayout.astro';

const title = 'About Us';
const description = 'At All Inclusive Vacation Info, our mission is to help you find the perfect all-inclusive vacation tailored to your unique preferences and travel style.';
const heroImage = 'url(\'https://images.unsplash.com/photo-1610641818989-c2051b5e2cfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80\')';
---

<MainLayout title={title} description={description} heroImage={heroImage}>
	<h1>Welcome to All Inclusive Vacation Info – Your Ultimate Guide to Unforgettable All Inclusive Getaways!</h1>

	<h2>Our Mission</h2>

	<p>At All Inclusive Vacation Info, our mission is to help you find the perfect all-inclusive vacation tailored to your unique preferences and travel style. We understand that planning a 
		stress-free, all-inclusive vacation can be overwhelming, and that's why we've created this comprehensive resource to make your travel planning experience as seamless and enjoyable as 
		possible.</p>

	<h2>Our Purpose</h2>

	<p>We believe that every traveler deserves to enjoy a memorable and hassle-free vacation experience. To make this possible, we've dedicated our website to providing:</p>

	<ol>
		<li>In-depth destination guides: We cover the best all-inclusive resorts and destinations around the world, giving you an insider's look at what to expect and what sets each location 
			apart.</li>

		<li>Expert travel advice: Our team of experienced travelers and industry professionals share their tips and advice to help you plan your perfect all-inclusive escape, covering 
			everything from finding the best deals to understanding local customs and etiquette.</li>

		<li>Honest resort reviews: We provide detailed reviews of all-inclusive resorts, including what's included, amenities, activities, and guest feedback, so you can make informed 
			decisions about where to stay.</li>

		<li>Inspirational content: Our engaging articles and stunning visuals aim to inspire your next all-inclusive adventure, whether you're a couple, honeymooner, family, or solo traveler.</li>
	</ol>

	<h2>Our Commitment</h2>

	<p>We're committed to providing accurate, up-to-date, and reliable information to help you plan your dream vacation. Our user-friendly website design makes it easy to navigate through our 
		wealth of content and find the information you need.</p>

	<p>At All Inclusive Vacation Info, we're passionate about travel and dedicated to helping you create unforgettable memories. Let us be your go-to resource for planning the perfect 
		all-inclusive getaway!</p>

	<p>If you have any questions or feedback, please feel free to reach out to us through our Contact Us page. We'd love to hear from you!</p>
</MainLayout>
